body{
	margin:0;
	padding:0;
}
ul > li {
	list-style: none;
}
#mapid {
	z-index:0;
	height: 100vh;
}

#map-form {
	margin-left:0px;
	z-index:2;
	padding: 5px;
    color: white;
    background-color: #282828;
	position:absolute;
	left: 10px;
	top: 80%;
}

#map-form a:link{
    color: #ADD8E6;
    text-decoration: none;
}

#map-form a:visited{
    color: #f3f470;
}

#map-form a:hover{
    color: #ADD8E6;
    text-decoration: underline;
}
.languageBar {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 20px;
}
#FI{
	width: 50px;
	height: 50px;
	z-index:2;
	color: white;
	background-color: rgb(138, 230, 0);
	position: absolute;
	border-radius:5px;
	padding: 10px;
	left: 96%;
	margin-top: 20px;
}
#EN{
	width: 50px;
	height: 50px;
	z-index:2;
	color: white;
	background-color: rgb(138, 230, 0);
	position: absolute;
	border-radius:5px;
	padding: 10px;
	left: 92%;
	margin-top: 20px;
}
#EN:hover,
#FI:hover{
	background-color: #4d4d4c;
}
#map-form a:active{
    color: #FFFFFF;
}

#comment-page {
	width: 400px;
	height: auto;
	z-index:2;
    color: white;
    background-color: rgb(138, 230, 0);
	position:absolute;
	border-radius:5px;
	padding: 10px;
	left:0;
	top: 0;
	display:none;
}
.comment-header{
	display: inline;
	border-bottom: 1px solid white;
}

#page-name{
	text-align: center;
	font-size: 1.1vw;
	font-family: sans-serif,Verdana;
	font-weight: lighter;
}
#Infopic{
	height:25px;
	width:25px;
	/*margin-right:15px;*/
	margin-bottom:5px;
	border:0px;
	/*float: left;*/
}
#Commentpic{
	height:25px;
	width:25px;
	/*margin-left:15px;*/
	margin-bottom:5px;
	border:0px;
	/*float: right;*/
}
#testing-comment {
	z-index:2;
	position:absolute;
	left:10px;
	top:250px;
}
.redfamily {
	color: red;
}
.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 10px;
}
.search-wrapper {
	width: 500px;
	margin: auto;
	margin-top: 50px;
}
.search-box {
	width: 80%;
	border: 1px solid #ccc;
	outline: 0;
	border-radius: 15px;
}
.search-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	outline: 0;
	cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}

#modeList > ul{
	border-top: 1px solid whitesmoke;
	border-bottom: 1px solid whitesmoke;
}
#modeList > ul > li{
	display: inline;
	position: relative;
	cursor: pointer;
	margin-bottom: 3px;
}

#mode-info,
#mode-event,
#mode-problem,
#mode-other{
	display: none;
}
.infoActive{
	border-bottom:3px solid yellow;
}
#info:focus{
	border-bottom:3px solid yellow;
}
#info:hover{
	border-bottom:3px solid yellow;
}
#other:hover{
	border-bottom:3px solid blue;
}
#event:hover{
	border-bottom:3px solid green;
}
#problem:hover{
	border-bottom:3px solid red;
}

/*Hide mode tabs before the each icons are clicked*/
#mode-other,
#mode-event,
#mode-problem{
	display: none;
}
#mode-info *,
#mode-other *,
#mode-event *,
#mode-problem *{
	margin-bottom: 5px;
}
.btn-set{
	display: inline;
}
.SPC > li{
	display: inline;
}
.date-tab{
	display: none;
}