{
    "swagger": "2.0",
    "info": {
        "title": "GeoSmartCity Map API",
        "version": "1.0.0"
    },
    "host": "gis.dc.turkuamk.fi",
    "schemes": [
        "http"
    ],
    "basePath": "/guillaume.kleinpoort/baguette",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/marker.php": {
            "get": {
                "summary": "Return markers",
                "description": "This returns the list of the markers stored in the database.\n",
                "responses": {
                    "200": {
                        "description": "A JSON array of markers",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Marker"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add a marker",
                "description": "This adds a marker in the database and returns its ID.\n",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the marker.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "d_start",
                        "in": "query",
                        "description": "Date of the beginning of the marker's event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "d_end",
                        "in": "query",
                        "description": "Date of the end of the marker's event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "position",
                        "in": "query",
                        "description": "GeoJSON array descripting the marker.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Description of the marker.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Category of the marker.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "visible",
                        "in": "query",
                        "description": "1 if the marker is visible, 0 if not.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The ID of the marker",
                        "schema": {
                            "type": "integer"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a marker",
                "description": "This updates a marker in the database and returns whether it's a succes or not.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the marker.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the marker.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "d_start",
                        "in": "query",
                        "description": "Date of the beginning of the marker's event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "d_end",
                        "in": "query",
                        "description": "Date of the end of the marker's event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "position",
                        "in": "query",
                        "description": "GeoJSON array descripting the marker.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Description of the marker.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Category of the marker.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "visible",
                        "in": "query",
                        "description": "1 if the marker is visible, 0 if not.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a marker",
                "description": "This deletes a marker in the database and returns whether it's a succes or not.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the marker.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Marker": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Unique identifier representing a specific marker."
                },
                "name": {
                    "type": "string",
                    "description": "Name of the marker."
                },
                "d_start": {
                    "type": "string",
                    "description": "Date of the beginning of the marker's event."
                },
                "d_end": {
                    "type": "string",
                    "description": "Date of the end of the marker's event."
                },
                "position": {
                    "type": "string",
                    "description": "GeoJSON array descripting the marker."
                },
                "description": {
                    "type": "string",
                    "description": "Description of the marker."
                },
                "category": {
                    "type": "string",
                    "description": "Category of the marker."
                },
                "visible": {
                    "type": "integer",
                    "description": "1 if the marker is visible, 0 if not."
                }
            }
        }
    }
}